body {
    background: gray;
}

header h1 {
    padding: 30px;
    text-align: center;
    font-size: 40px;
}

#logo-time {
    width: 50%; 
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.principal {
    padding: 20px;
}

.principal h2 {
    padding: 30px;
    margin: 0px;
    text-align: center;
    font-size: 40px;
}

.principal p{
    font-size: 25px;
    padding: 20px;
    margin-top: 0px;
}

.infos {
    padding: 20px;
}

.infos h3 {
    padding: 20px;
    margin: 0;
    font-size: 35px;
}

ul {
    margin: 0;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    margin-left: 5%;
    width: 20%;
}

li {
    font-size: 20px;
}

/* estilo da página tabela-de-scores */
.cabecalho-tabela {
    text-align: center;
    font-weight: bold;
}

table {
    border: 2px solid black;
    width: 100%;
    text-align: center;
    padding: 5px;
}

th, tr, td {
    border: solid 1px black;
}
th {
    font-weight: bold;
}