body {
    background: gray;
}

header h1 {
    padding: 20px;
    text-align: center;
}

#logo-time {
    width: 40%; 
    padding: 20px;
}

.principal {
    padding: 20px;
}

.principal h2 {
    padding: 20px;
    margin: 0px;
    text-align: center;
}

.principal p{
    font-size: 30px;
    padding: 20px;
    margin-top: 0px;
}

.infos {
    padding: 20px;
}